/node_modules
/example
./src
.babelrc
.local
.idea
.vscode
.DS_Store
package-lock.json
webpack.dev.config.js
webpack.prod.config.js
yarn.lock
yarn-error.log
MY.md
npm-debug.log
.*.swp
._*
.git
.hg
.npmrc
/lib