body {
    margin : 0px;
    padding: 0px;
}

$kl-result: kl-result;

.#{kl-result} {
    height: 100%;
    width : 100%;

    &-icon {
        text-align: center;
        height    : 200px;

        img {
            width      : 90px;
            height     : 90px;
            padding-top: 110px;
        }
    }

    &-title {
        font-size  : 17px;
        line-height: 17px;
        padding-top: 15px;
        color      : #555;
        ;
        text-align: center;
    }

    &-reason {
        font-size  : 14px;
        line-height: 20px;
        text-align : center;
        padding    : 20px;
        color      : #888;
    }
    &-btnwrap {
        text-align: center;
        height: 35px;
        line-height: 35px;
        &-btn{
            width: 30%;
            background-color: #52ccb8;
            border-radius: 5px;
            margin: 0 auto;
            color: #fff;
            margin-top: 20px;
        }
    }
}